button{
	border: none;
	background: none;
	height:70px;
}

button:hover{
	background:#000000;
}

.container{
	display:flex;
	justify-content:center;
	gap:30px;
	align-items:center;
}

#cEditor{
	max-width:1000px;
	margin:20px auto;
	height:500px;
	border:1px SOLID #000000;
    padding: 10px;
}